server :
  port: 8090

spring:
  application:
    name: microservice-login
  datasource:
    driver-class-name : com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/usuarios
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  config:
    import: optional:configserver:http://localhost:8888
eureka:
  instance:
    hostname: localhost
  client:
    serivce-url :
      defaultZone : http://localhost/8761/eureka

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password