server:
  port: 8090

spring:
  application:
    name: msvc-ordenes
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jbdc:mysql://localhost:3306/ordenesDB
    username: root
    password: Juanes1330*
  jpa:
    hibernate:
      ddl-auto: create
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka